.about-full {
  max-width: 900px;
  margin: 120px auto 80px;
  padding: 0 20px;
  animation: fadeIn 0.7s ease-in-out;
  margin-top: 20px;
}

.about-full h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 25px;
  color: #1e1e1e;
  text-align: center;
}

.about-full p {
  font-size: 1.1rem;
  line-height: 1.7;
  color: #444;
  margin-bottom: 18px;
}

.about-full ul {
  margin: 20px 0;
  padding-left: 20px;
}

.about-full ul li {
  font-size: 1.05rem;
  line-height: 1.6;
  color: #333;
  margin-bottom: 8px;
  list-style: disc;
}

.back-btn {
  display: inline-block;
  font-size: 2rem;
  color: #222;
  text-decoration: none;
  margin-bottom: 20px;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

.back-btn:hover {
  transform: translateX(-5px);
  opacity: 0.7;
}


/* Animasi muncul */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(25px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Responsive */
@media (max-width: 768px) {
  .about-full h1 {
    font-size: 2.5rem;
  }

  .about-full {
    margin-top: 90px;
  }

  .about-full p,
  .about-full ul li {
    font-size: 1rem;
  }
}
