/* ===== RESET ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ===== NAVBAR ===== */
.navbar {
  width: 100%;
  margin-top: 20px;
}

.nav-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 16px 24px;
}

/* ===== TOP ===== */
.nav-top {
  display: none;
  justify-content: center;
}

/* ===== HAMBURGER ===== */
.hamburger {
  width: 32px;
  height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: none;
  border: none;
  cursor: pointer;
}

.hamburger span {
  height: 2px;
  background: #777;
  border-radius: 2px;
  transition: 0.3s ease;
}

/* X animation */
.hamburger.active span:nth-child(1) {
  transform: translateY(11px) rotate(45deg);
}
.hamburger.active span:nth-child(2) {
  opacity: 0;
}
.hamburger.active span:nth-child(3) {
  transform: translateY(-11px) rotate(-45deg);
}

/* ===== DESKTOP MENU ===== */
.menu-wrapper {
  display: flex;
  justify-content: flex-end;
}

.nav-menu {
  list-style: none;
  display: flex;
  gap: 28px;
}

.nav-menu a {
  text-decoration: none;
  font-size: 15px;
  color: #777;
}

.login-btn {
  padding: 6px 14px;
  border: 1px solid #777;
  border-radius: 16px;
}

@media (max-width: 768px) {
  .nav-top {
    display: flex;
  }

  .menu-wrapper {
    top: 10px;
    width: 100%;
    overflow: hidden;
    max-height: 0;          /* menu hidden default */
    transition: max-height 0.4s ease;
    justify-content: center;
  }

  .navbar.open .menu-wrapper {
    max-height: 1000px;     /* cukup besar supaya tidak terpotong */
  }

  .nav-menu {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 0;        /* beri jarak vertikal */
  }
}



/* ===== SMOOTH SCROLL ===== */
html {
  scroll-behavior: smooth;
}
